/* Estilos para la galería de imágenes */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.image-item {
  flex-basis: calc(33.33% - 20px); /* 3 columnas en dispositivos de mesa y escritorio */
  text-align: center;
  margin-bottom: 20px;
}

.image-item img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.image-item h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.image-item p {
  margin-top: 5px;
  font-size: 14px;
  color: #777;
}

/* Estilos para dispositivos de pantalla pequeña */
@media screen and (max-width: 768px) {
  .image-gallery {
      flex-direction: column; /* Cambio a disposición de columna */
  }

  .image-item {
      flex-basis: 100%; /* Ocupa todo el ancho en dispositivos móviles */
  }
}
